name: Sonar
on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]
  workflow_dispatch:
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0  # Shallow clones should be disabled for a better relevancy of analysis
      
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 3.1.402
      
      - name: Build with dotnet
        run: dotnet build --configuration Release

      - name: Unit Tests
        run: dotnet test  /p:CollectCoverage=true /p:CoverletOutputFormat=opencover
      
      - name: SonarCloud Scan
        uses: sonarsource/sonarcloud-github-action@v1.4
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          projectBaseDir: .
          args: >
            -Dsonar.host.url=https://sonarcloud.io
            -Dsonar.test.exclusions=tests/**
            -Dsonar.sources=./src/NumberConverter.Core/
            -Dsonar.tests=./tests/NumberConverter.Test/
            -Dsonar.projectKey=Fabioh_NumberConverter
            -Dsonar.organization=fabioh
            -Dsonar.cs.opencover.reportsPaths=./tests/NumberConverter.Test/coverage.opencover.xml
    
